<ul class="nav nav-pills flex-row flex-md-column fs-6">
  <li class="nav-item">
    <a
      class="nav-link active"
      [routerLink]="['/clients']"
      routerLinkActive="active"
    >
      <i class="bi bi-person-fill"></i> Clients
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/clients']">Client look history</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/clients']">
      Emergency PIN configuration
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/clients']">Emergency PIN history </a>
  </li>
</ul>

<div class="d-block d-md-none border-bottom border-primary my-3"></div>
